$light-gray: #DED5EA;
$semi-gray: #A79EB2;
$pearl-pink: #FAEAFF;
$color-green: #005B42;
$semi-black: #222123;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

.container {
  width: 300px;
  height: auto;
  max-height: 100px;
  padding: 2rem;
  text-align: center;
  border: dashed 2px #979797;
  position: relative;
  justify-content: center;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: $color-green;
    padding: 8px 24px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
    margin-bottom: 10px;
  }
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;

    img.delete {
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }

    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%
    }
  }
}